
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0% ,rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-align: right;
}

h1 {
    margin-right: 500px;
}

.weather-container {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    
}

.search-section {
    display: inline-block;
}

.search-container {
    display: block;
    justify-content: center;
}

.search-form {
    justify-content: center;
    border-bottom: solid;
}
.form-input {
    justify-content: center;
    display: block;
    padding: 10px 32px;
    margin: 5px;
    text-align: left;
    color:rgb(171, 171, 171);
    border-radius: 5px;
    font-size: large;
}

.btn {
    margin: 5px;
    justify-content: center;
    width: 97%;
    display: block;
    background-color: rgb(119, 161, 209);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.city-list {
    display: block;
    padding: 5px;
}

.city-item {
    display: block;
    background-color: rgb(172, 172, 172);
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.results-container {
    display: inline-block;
    width: 70%;
    position: fixed;
}

.current-forecast {
    border: 2px solid
}

.city-name {
    display:inline-block;
}

.five-day-forecast {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 20px;
}

.forecast-card {
    display: grid;
    background-color: rgb(52, 52, 93);
    color: white;
    padding: 10px;
    
}
